body.fsss-body::-webkit-scrollbar {
   visibility: hidden;
}
body.fsss-body::-webkit-scrollbar-track {
  background: #111;
}
.fsss-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10001;
  background-color: #111;
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear .3s,
    opacity .3s ease-out,
    background-color .3s ease-out
    ;
}
body.fsss-body .fsss-container {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s,
    opacity .3s ease-out,
    background-color .3s ease-out
    ;
}
.fsss-container.fsss-sugar {
  background-color: #43c1b4;
}
.fsss-container div {
  box-sizing: border-box;
}
.fsss-nav {
  position: relative;
  z-index: 10002;
  line-height: 50px;
  font-size: 20px;
}
.fsss-container a {
  cursor: pointer;
}
.fsss-swiper.swiper-container {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.fsss-fade {
  transition: opacity 1s ease-in;
  opacity: 0;
}
.fsss-reveal .fsss-fade {
  transition: opacity .2s ease-out;
  opacity: 1;
}
.fsss-slide {
  padding: 5px;
}
.fsss-slide.fsss-image-wrapper {
  display: flex;
}
.fsss-slide.fsss-image-wrapper .fsss-image {
  flex: 1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.fsss-slide.fsss-image-wrapper .fsss-image.fsss-fit-background {
  background-size: contain;
}

.swiper-button-disabled {
  display: none;
}

.fsss-close {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2022%2022'%3E%3Cpath%20d%3D'M%200%2020%20L%2020%200%20l%202%202%20L%202%2022%20z'%20fill%3D'%23ffffff'%2F%3E%3Cpath%20d%3D'M%202%200%20L%2022%2020%20l%20-2%202%20L%200%202%20z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
  background-position: 50% 50%;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  width: 27px; height: 27px;
  position: absolute;
  top: 10px; right: 10px;
  cursor: pointer;
  z-index: 10;
}

.fsss-close:hover {
  color: white;
  text-shadow: 1px 1px 2px white, -1px -1px 2px white;
}

.fsss-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em;
}
.fsss-title, .fsss-subtitle {
    /*text-align: center;*/
    font-weight: 300;
}
.fsss-title {
  font-size: 4em;
}
@media only screen and (min-width: 700px) {
  .fsss-title, .fsss-subtitle {
      /*text-align: left;*/
      max-width: 60%;
  }
}
.fsss-text {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  color: white;
}
